<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBPROJ_VF.Properties.Settings.PROJConnectionString"
            connectionString="Data Source=DESKTOP-J9VDKRS\SQLEXPRESS;Initial Catalog=PROJ;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
